#detail-container {
    padding: 100px 20%;
    min-width: 1300px;
}

.con-detail {
    background-color: rgb(255, 255, 255);
    padding: 5% 10% 10% 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.con-detail h3 {
    margin: 10px 0 10px 0;
}

.con-detail p {
    margin: 10px 0 10px 0;
}

.con-detail img {
    margin: 30px 0 30px 0;
}

h2 {
    color: white;
    margin: 10px 0;
}

.download-btn {
    margin: 10px 0;
}

.download-btn a {
    padding: 10px;
    text-decoration: none;
}